@import '../../constants';

.QandA {
  $border: 0.0625rem solid $theme-tertiary-v9;

  border-radius: $br;
  position: relative;
  z-index: 0;
  border: $border;

  &:hover,
  &:focus-within {
    button,
    p {
      &::before {
        background-color: rgba($prim-r, $prim-g, $prim-b, 0.05) !important;
      }
    }
  }

  button,
  p {
    background-color: white;

    &::before {
      @include before-or-after();
      background-color: white;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  button {
    font-weight: 600;

    &::before {
      z-index: 0;
    }

    i {
      font-size: 0.85em;
    }
  }

  p {
    position: absolute;
    top: calc(100% - 0.5em);
    cursor: pointer;
    box-shadow: $button-box-shadow;
    z-index: 88;
    border: $border;
    border-radius: inherit;

    &::before {
      z-index: -1;
    }
  }
}

.open {
  z-index: 1;

  i {
    transform: rotateZ(180deg) scale(1);
  }
}
