.Avatar {
  $size: 100%;

  width: $size;
  height: $size;
  overflow: hidden;
  border-radius: 1rem; // for browser support
  border-radius: clamp(0.25em, 10%, 1em) !important;
  display: inline-flex;
  max-width: 100%;
  margin-bottom: 0.125rem;
  position: relative;
  background-color: #f8f8f8;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); // cubic-bezier(0.25, 1, 0.5, 1);
  // box-shadow: 0 0 0 0.15rem #ddd;

  &.is-anchor:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s, opacity 0.5s;
    object-fit: cover;
    position: absolute;
    object-position: center;
  }

  &.size-- {
    $size: 6em;

    &tiny {
      font-size: 0.5em;

      width: $size;
      min-width: $size;
      height: $size;
    }

    &small {
      font-size: 1em;

      width: $size;
      min-width: $size;
      height: $size;
    }

    &medium {
      font-size: 1.5em;

      width: $size;
      min-width: $size;
      height: $size;
    }

    &large {
      font-size: 2em;

      width: $size;
      min-width: $size;
      height: $size;
    }

    &fill {
      $size: 100%;

      width: $size;
      min-width: $size;
      height: $size;
    }

    &auto {
      $size: auto;

      width: $size;
      height: $size;
    }
  }

  &.variant {
    &--circle {
      border-radius: 50% !important;
    }
  }

  &.elevation {
    $color: rgba(0, 0, 0, 0.125);
    $blur: 0.25em;
    $y: 0.125em;
    $x: 0.125em;

    &--1 {
      box-shadow: $x $y $blur $color;
    }

    &--2 {
      box-shadow: $x $y * 1.25 $blur * 2 $color;
    }

    &--3 {
      box-shadow: $x $y * 1.5 $blur * 3 $color;
    }

    &--4 {
      box-shadow: $x $y * 1.75 $blur * 4 $color;
    }

    &--5 {
      box-shadow: $x $y * 2 $blur * 5 $color;
    }
  }

  &.has-frame {
    border: 0.3em solid white;
  }

  .LoadingSkeleton {
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
    top: 0;

    &.has-loaded {
      opacity: 0;
    }
  }
}
