.Button {
  border: 0.075em solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 2.65rem;
  padding: 0 1.25rem;
  border-radius: $br * 0.9;
  font-size: 0.9em;
  box-shadow: $button-box-shadow; // 0 0.0625em 0.125em rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  overflow: hidden;
  cursor: pointer;
  // @extend .text-overflow-ellipsis;

  &.active {
    &:hover,
    &:focus {
      opacity: 1 !important;
    }
  }

  &.cta-btn {
    // min-height: 3.25rem;
    // min-width: 16rem;
    // padding-right: 2.5rem ;
    // padding-left: 2.5rem ;
    // background-color: $theme-primary ;
    color: $heading-default;

    &:hover,
    &:focus {
      transform: translateY(-0.125rem) scale(1.0125);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.9;
    box-shadow: $button-box-shadow-hover;
    transition-delay: unset !important;
  }

  &:disabled {
    box-shadow: none !important;
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.btn--contained {
  color: white !important;

  &.primary {
    background-color: $theme-primary;

    &:hover,
    &:focus {
      // border-color: $theme-primary;
      color: $theme-primary !important;
    }
  }

  &.secondary {
    background-color: $theme-secondary;

    &:hover,
    &:focus {
      // border-color: $theme-secondary;
      color: $theme-secondary !important;
    }
  }

  &.tertiary {
    background-color: $theme-tertiary;

    &:hover,
    &:focus {
      // border-color: $theme-tertiary;
      color: $theme-tertiary !important;
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &-light {
    &.primary {
      color: $theme-primary !important;
      background-color: rgba($prim-r, $prim-g, $prim-b, 0.15);

      &:hover,
      &:focus {
        background-color: rgba($prim-r, $prim-g, $prim-b, 0.25);
      }
    }

    &.secondary {
      color: $theme-secondary !important;
      background-color: rgba($sec-r, $sec-g, $sec-b, 0.15);

      &:hover,
      &:focus {
        background-color: rgba($sec-r, $sec-g, $sec-b, 0.25);
      }
    }

    &.tertiary {
      color: $theme-tertiary !important;
      background-color: rgba($tert-r, $tert-g, $tert-b, 0.15);

      &:hover,
      &:focus {
        background-color: rgba($tert-r, $tert-g, $tert-b, 0.25);
      }
    }
  }
}

.btn--outlined {
  background-color: transparent;
  border-color: $theme-tertiary-v9;

  &.primary {
    color: $theme-primary;
    // border-color: $theme-primary;

    &:hover,
    &:focus {
      background-color: $theme-primary;
    }
  }

  &.secondary {
    color: $theme-secondary;
    // border-color: $theme-secondary;

    &:hover,
    &:focus {
      background-color: $theme-secondary;
    }
  }

  &.tertiary {
    color: $theme-tertiary-v5;
    // border-color: $theme-tertiary;

    &:hover,
    &:focus {
      background-color: $theme-tertiary-v3;
    }
  }

  &:hover,
  &:focus {
    color: white;
  }
}

.btn--text {
  background-color: transparent;
  border-color: transparent;

  &.primary {
    color: $theme-primary;
  }

  &.secondary {
    color: $theme-secondary;
  }

  &.tertiary {
    color: $theme-tertiary;
  }

  &.lightblue {
    background-color: rgb(232, 241, 255);
    color: $theme-primary;

    &:hover,
    &:focus {
      background-color: rgb(202, 211, 225);
    }
  }
}

.icon-button {
  $size: 2.45rem;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  box-shadow: unset !important;
  border-radius: 50%;
  padding: 1em;
  font-size: 1.125em;
  display: inline-flex;
  @extend .btn--text;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 576px) {
    min-height: 2.65rem;
    min-width: 2.65rem;
  }
}

.AppstoreButton,
.PlaystoreButton {
  padding: 0;
  border: 0.2em solid #bbb;
  background-color: transparent !important;
  // position: relative;

  &:hover,
  &:focus {
    border-color: white;
  }

  .Icon {
    min-height: inherit;
    width: 10em;
    overflow: hidden;
    // border-radius: inherit;

    svg {
      min-height: inherit;
      position: absolute;
    }
  }
}

.AppstoreButton {
  .Icon {
    width: 8.75em;
  }
}
