// app-loading-skeleton {
//   display: inherit;
//   height: inherit;
//   // width: inherit;
//   line-height: 50%;
//   margin: 0.125em 0;
// }

.LoadingSkeleton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 0.5em;
  min-width: 1.25em;
  max-width: 100%;
  overflow: hidden;
  // height: 1em;
  height: 100%;
  width: 100%;
  background-color: #eee;
  position: relative;
  left: 0;
  top: 0;
  border-radius: inherit;
  z-index: 1;
  transition: 0.5s;
  animation: fadeIn 0.3s;

  &.white {
    background-color: rgba(255, 255, 255, 0.25);

    &::before {
      background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.6), transparent);
    }
  }

  &.erred,
  &.has-loaded {
    &::before {
      animation: unset;
    }
  }

  &::before {
    @include before-or-after($zi: 0, $bg: linear-gradient(to left, transparent, #ddd, transparent));
    animation: animateSkeleton 1.125s infinite;
    width: 100%;
  }

  @keyframes animateSkeleton {
    from {
      transform: translateX(-110%);
    }
    to {
      transform: translateX(110%);
    }
  }
}
