.Logo {
  position: sticky;
  top: 0;
  display: block !important;
  z-index: 4;
  width: auto;
  pointer-events: all;
  padding: 0.75rem 0.25rem;

  // &.responsive {
  // }
  @media screen and (max-width: 575px) {
    a {
      display: block;
      width: 5rem;
      overflow: hidden;
    }
  }

  a {
    text-decoration: none !important;
    line-height: unset;
  }

  img {
    width: 8rem;
    border-left: 0.0625rem solid rgba(221, 221, 221, 0.5);
    padding: 0.125rem 0 0.125rem 0.45rem;
    margin-left: 2.1rem;
    min-height: 2.35rem;
    max-height: 2.5rem;
  }

  .flag-icon {
    font-size: 0.75rem;
    transform: scale(1.55, 1);
    margin-left: 0.35rem;
    align-self: center;
    max-width: 1rem;
    position: absolute;
    margin-top: 0.7rem;
    box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.15);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (-moz-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2),
  (-moz-min-device-pixel-ratio: 2) {
  .Logo .flag-icon {
    transform: scale(1.6, 1);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
  (-moz-min-device-pixel-ratio: 3),
  (-o-min-device-pixel-ratio: 3),
  (-moz-min-device-pixel-ratio: 3) {
  .Logo .flag-icon {
    transform: scale(1.65, 1);
  }
}
