.OurInvestors {
  $border: 0.0625em solid $theme-tertiary-v9;
  margin: 3em auto;

  .__grid {
    border: $border;
    border-radius: $br * 1.5;
    max-width: 48em;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.0625em;
    background-color: #f8f8f8;

    &.first {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.second {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .__grid-item {
    background-color: white;
    box-shadow: 0 0 0 0.0625em $theme-tertiary-v9;
    min-height: 5em;
    justify-content: center;
  }

  img {
    width: auto !important;
  }

  @media screen and (min-width: 992px) {
    margin: 5em auto;
  }

  @media screen and (min-width: 1200px) {
    .__grid-item {
      padding: 2rem 4rem !important;
    }
  }
}
