.Particles {
  height: 0;
  width: 100vw;
  position: relative;
  z-index: 10;

  .__particle {
    $size: 0.625em;

    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    padding: 0 !important;
    pointer-events: none;
    background-color: rgba(25, 113, 245, 0.15);
    transform: scale(1);
    animation: anim__blink 6s infinite; // cubic-bezier(0.35, 1, 0.35, 1.25);
  }

  @keyframes anim__blink {
    0% {
      opacity: 0.1;
      transform: scale(0.75);
    }
    6% {
      opacity: 0.9;
      transform: scale(1.125);
    }
    12%,
    100% {
      opacity: 0.4;
      transform: scale(0.55);
    }
    50% {
      transform: scale(0.55) translate(0.5em);
    }
    100% {
      transform: scale(0.25) translate(0);
    }
  }
}
