.benefitsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
  }
}
.benefitsContainer {
  border: 0.0625rem solid #e6e9ef;
  border-radius: 0.5rem;

  .careCount {
    justify-content: center;

    p {
      font-size: 1em * 0.8;
      background: rgba(13, 35, 68, 0.1);
      border-radius: 0.5rem;
      padding: 0.2rem 0.6rem;
    }
  }

  > div {
    border-bottom: 0.0625rem solid #e6e9ef;
    padding: 0.5rem 1rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 3em * 0.3;

    @media (max-width: 1024px) {
      min-height: 5rem;
    }

    @media (max-width: 767px) {
      min-height: 3rem;
    }

    p {
      margin: 0;
      padding: 0;
    }

    &:last-child {
      border-bottom: none;
      min-height: 6rem;
    }

    span {
      color: $theme-primary;
    }

    .subscribeButton {
      border: 0.0625rem solid $theme-primary;
      transition: 0.5s;
      // padding: 0.5rem 1.5rem;
      font-style: normal;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;

      i {
        font-style: inherit;
        color: $theme-primary;

        &:nth-child(1) {
          font-size: 1em * 0.6;
          letter-spacing: 0.1rem;
        }
        &:last-child {
          font-size: 1em * 1.2;
          letter-spacing: 0.1rem;
        }
      }
      &:hover {
        border: none;
        background: $theme-primary;

        i {
          color: white;
          font-style: inherit;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .benefitsGrid {
    grid-template-columns: repeat(4, 40% 20% 20% 20%);
  }
}
