@use 'constants';

.eletrify {
  animation: eletrify 1s infinite;
}

@keyframes eletrify {
  0%,
  100% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  6%,
  98% {
    opacity: 1;
  }
}

@include anim__fade('In', 'Up');
@include anim__fade('In', 'Down');
@include anim__fade('In', 'Left');
@include anim__fade('In', 'Right');
@include anim__fade('In', 'Up', 'Big');
@include anim__fade('In', 'Down', 'Big');
@include anim__fade('In', 'Left', 'Big');
@include anim__fade('In', 'Right', 'Big');

@include anim__fade('Out', 'Up');
@include anim__fade('Out', 'Down');
@include anim__fade('Out', 'Left');
@include anim__fade('Out', 'Right');
@include anim__fade('Out', 'Up', 'Big');
@include anim__fade('Out', 'Down', 'Big');
@include anim__fade('Out', 'Left', 'Big');
@include anim__fade('Out', 'Right', 'Big');

$timing-func_mode: cubic-bezier(0.1, 1, 0.35, 1) both;

.anim__fadeInUp {
  animation: anim__fadeInUp 1s $timing-func_mode;
}

.anim__fadeInDown {
  animation: anim__fadeInDown 1s $timing-func_mode;
}

.anim__fadeInLeft {
  animation: anim__fadeInLeft 1s $timing-func_mode;
}

.anim__fadeInRight {
  animation: anim__fadeInRight 1s $timing-func_mode;
}

// .anim__fadeInUpBig {
//   animation: anim__fadeInUpBig 1s $timing-func_mode;
// }

// .anim__fadeInDownBig {
//   animation: anim__fadeInDownBig 1s $timing-func_mode;
// }

// .anim__fadeInLeftBig {
//   animation: anim__fadeInLeftBig 1s $timing-func_mode;
// }

// .anim__fadeInRightBig {
//   animation: anim__fadeInRightBig 1s $timing-func_mode;
// }

.anim__fadeOutUp {
  animation: anim__fadeOutUp 1s $timing-func_mode;
}

.anim__fadeOutDown {
  animation: anim__fadeOutDown 1s $timing-func_mode;
}

.anim__fadeOutLeft {
  animation: anim__fadeOutLeft 1s $timing-func_mode;
}

.anim__fadeOutRight {
  animation: anim__fadeOutRight 1s $timing-func_mode;
}

// .anim__fadeOutUpBig {
//   animation: anim__fadeOutUpBig 1s $timing-func_mode;
// }

// .anim__fadeOutDownBig {
//   animation: anim__fadeOutDownBig 1s $timing-func_mode;
// }

// .anim__fadeOutLeftBig {
//   animation: anim__fadeOutLeftBig 1s $timing-func_mode;
// }

// .anim__fadeOutRightBig {
//   animation: anim__fadeOutRightBig 1s $timing-func_mode;
// }

.anim__spin {
  animation: anim__spin 0.35s linear infinite;
}

@keyframes anim__spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.anim__mode--backwards {
  animation-fill-mode: backwards !important;
}

.anim__mode--forwards {
  animation-fill-mode: forwards !important;
}

.anim__dur--025s {
  animation-duration: 0.25s !important;
}

.anim__dur--05s {
  animation-duration: 0.5s !important;
}

.anim__dur--1s {
  animation-duration: 1s !important;
}

.anim__del--025s {
  animation-delay: 0.25s !important;
}

.anim__del--05s {
  animation-delay: 0.5s !important;
}

.anim__del--1s {
  animation-delay: 1s !important;
}
