@use 'sass:math';

:root {
  --color-primary: rgb(25, 113, 245);
  --color-primary-light: rgba(21, 105, 232, 0.12);
  --color-secondary: #f8a362;
  --color-secondary-light: rgba(248, 163, 98, 0.2);
  --color-text: #000;
  --color-muted: #ccc;
  --color-muted-light: #f8f8f8;
  --color-success: #2dff7d;
  --color-dark-grey: #626262;
}

html,
body {
  width: 100%;
  margin: 0;
  font-weight: 400;

  @media screen and (max-width: 359px) {
    font-size: 0.9rem;
  }
}

body {
  // @include debugger();
  background-color: white;
  // font-size: 1rem !important;
  min-height: 100vh;
  // overflow: hidden;
  overflow-x: hidden !important;

  &.desktop.is-pc {
    &.custom-scroll-bar,
    .custom-scroll-bar {
      &::-webkit-scrollbar {
        width: 0.5rem !important;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $theme-primary; //rgba($sec-r - 25, $sec-g - 25, $sec-b - 25, 0.85);
        height: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

#__next {
  &,
  > main {
    @extend .anim__fadeIn;
  }

  > main > * > * {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

* {
  font-family: Poppins, 'Helvetica Neue', sans-serif !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.75em;
  color: rgba(13, 35, 68, 0.8);

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #0d2344; // $heading-default;
  font-family: Poppins, sans-serif;
  margin: 1em 0;
  display: block;
  line-height: 1.25em;
}

$h1-size: 3em;
$fraction: 0.835;

@mixin h-sm($s: 1.8) {
  @media screen and (max-width: 991px) {
    font-size: 1em * $s;
    line-height: 1.4em;
  }
}

.h1,
h1 {
  font-size: $h1-size;
  font-weight: 700 !important;

  @include h-sm();
}

.h2,
h2 {
  font-size: $h1-size * math.pow($fraction, 2);
  font-weight: 700 !important;

  @include h-sm(1.4);
}

.h3,
h3 {
  font-size: $h1-size * math.pow($fraction, 3);
  font-weight: 700 !important;

  @include h-sm(1.2);
}

.h4,
h4 {
  font-size: $h1-size * math.pow($fraction, 4);
  font-weight: 600 !important;

  @include h-sm(1.1);
}

.h5,
h5 {
  font-size: $h1-size * math.pow($fraction, 5);
  font-weight: 600 !important;

  @include h-sm(1.05);
}

.h6,
h6 {
  font-size: $h1-size * math.pow($fraction, 6);
  font-weight: 600 !important;

  @include h-sm(1.025);
}

a {
  color: $theme-primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $theme-secondary-v2;
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 600;
}

main {
  overflow-x: clip !important;
}

p,
blockquote {
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 992px) {
    max-width: 46em;
  }
}

blockquote {
  font-style: italic;
}

div[role='img'],
img,
iframe {
  max-width: 100%;
  transition: 0.5s;
  // animation: fadeIn 1.5s;

  &[aria-hidden='true'],
  &[data-hidden='true'] {
    opacity: 0;
    // pointer-events: none;
  }

  &.with-frame {
    border: 0.25em solid rgba(25, 113, 245, 0.1);
    border-radius: $br * 1.5;
  }
}

a,
button,
input,
textarea {
  font-weight: normal;
  font-family: Poppins, sans-serif;
  animation-fill-mode: both;
  border-radius: $br * 0.9;
  max-width: 100%;
  min-height: 2rem;
  transition-duration: 0.3s;

  &,
  &:focus {
    outline: none;
  }
}

input[type='text'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[aria-hidden='true'],
[data-hidden='true'] {
  // opacity: 0;
  pointer-events: none;
}

.app-splash {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 100000000;
  width: 100%;
  color: #fff;
  font-weight: 400;
  background: var(--color-primary);
  transition: 1s ease 1.75s;

  img {
    border-left-color: rgba(255, 255, 255, 0.5) !important;
  }

  .d-none {
    display: none;
  }

  .loading {
    text-align: center;
  }
}

// [class*='col-'],
// .container,
// .container-fluid {
//   padding: 0;
// }

//for paragraph contents
.primary-content {
  font-size: 1.25rem;
  line-height: 2.125rem;
  color: $content-default;
  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
.secondary-content {
  font-size: 1rem;
  line-height: 1.875rem;
  color: $content-default;
  @media (max-width: 576px) {
    font-size: 0.875rem;
    line-height: 1.625rem;
  }
}
.tertiary-content {
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: $content-default-s;
  @media (max-width: 576px) {
    font-size: 0.625rem;
    line-height: 1.125rem;
  }
}
[class~='col'],
[class*='col-'],
.container,
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

button.no-shadow,
a.no-shadow,
.no-shadow {
  box-shadow: unset !important;
  text-shadow: unset !important;
}

.overflow-clip {
  overflow: hidden !important;
  overflow: clip !important;
}

.container,
.container-sm {
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
}

.container,
.container-md {
  @media screen and (min-width: 768px) {
    max-width: 730px;
  }
}

.container,
.container-lg {
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
}

.container,
.container-xl {
  @media screen and (min-width: 1200px) {
    max-width: 1120px;
  }
}

.container,
.container-xxl {
  @media screen and (min-width: 1400px) {
    max-width: 1270px;
  }
}

.shrink-max-width-xxl {
  @media screen and (min-width: 1400px) {
    max-width: 1110px;
  }
}

.theme-primary {
  color: $theme-primary !important;
}
.theme-primary-lighter {
  color: $theme-primary-v7 !important;
}
.theme-primary-lightest {
  color: $theme-primary-v9 !important;
}
.theme-primary-darker {
  color: $theme-primary-v3 !important;
}
.theme-primary-darkest {
  color: $theme-primary-v1 !important;
}

.theme-secondary {
  color: $theme-secondary !important;
}
.theme-secondary-lighter {
  color: $theme-secondary-v7 !important;
}
.theme-secondary-lightest {
  color: $theme-secondary-v9 !important;
}
.theme-secondary-darker {
  color: $theme-secondary-v3 !important;
}
.theme-secondary-darkest {
  color: $theme-secondary-v1 !important;
}

.theme-tertiary {
  color: $theme-tertiary !important;
}
.theme-tertiary-darker {
  color: $theme-tertiary-v3 !important;
}
.theme-tertiary-darkest {
  color: $theme-tertiary-v1 !important;
}
.theme-tertiary-lighter {
  color: $theme-tertiary-v7 !important;
}
.theme-tertiary-lightest {
  color: $theme-tertiary-v9 !important;
}
.theme-white {
  color: white !important;
}

.theme-bg-primary-darkest {
  background-color: $theme-primary-v1;
}
.theme-bg-primary-darker {
  background-color: $theme-primary-v3;
}
.theme-bg-primary {
  background-color: $theme-primary;
}
.theme-bg-primary-lighter {
  background-color: $theme-primary-v7;
}
.theme-bg-primary-lightest {
  background-color: $theme-primary-v9;
}

.theme-bg-secondary {
  background-color: $theme-secondary;
}

.theme-bg-tertiary-darkest {
  background-color: $theme-tertiary-v1;
}
.theme-bg-tertiary-darker {
  background-color: $theme-tertiary-v3;
}
.theme-bg-tertiary {
  background-color: $theme-tertiary;
}
.theme-bg-tertiary-lighter {
  background-color: $theme-tertiary-v7;
}
.theme-bg-tertiary-lightest {
  background-color: $theme-tertiary-v9;
}
.theme-bg-white {
  background-color: white !important;
}

.modal-backdrop {
  background-color: rgba(13, 35, 68, 0.5) !important;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;

  @media (min-width: 992px) {
    max-width: 800px !important;
  }
  @media (min-width: 576px) {
    margin: 1.75rem auto;
  }
}

.modal {
  backdrop-filter: blur(0.25rem);
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -moz-transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal-content {
  border-radius: 1.125rem !important;
  border: none !important;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  padding-right: 0px !important;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.fade {
  transition: opacity 0.15s linear;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal.show .modal-dialog {
  transform: none;
  @media (min-width: 576px) {
    margin: 1.75rem auto;
  }
}
