:root {
  --color-primary: rgb(25, 113, 245);
  --color-primary-light: rgba(21, 105, 232, 0.12);
  --color-secondary: #f8a362;
  --color-secondary-light: rgba(248, 163, 98, 0.2);
  --color-text: #000;
  --color-muted: #ccc;
  --color-muted-light: #f8f8f8;
  --color-success: #2dff7d;
  --color-dark-grey: #626262;
}

html,
body {
  width: 100%;
  margin: 0;
  font-weight: 300;
}

body {
  // @include debugger();
  background-color: white;
  // font-family: Poppins, 'Helvetica Neue', sans-serif;
  font-size: 1rem !important;
  min-height: 100vh;
  overflow: hidden;
  overflow-x: hidden !important;

  &.desktop.is-pc {
    &.custom-scroll-bar,
    .custom-scroll-bar {
      &::-webkit-scrollbar {
        width: 0.5rem !important;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $theme-primary; //rgba($sec-r - 25, $sec-g - 25, $sec-b - 25, 0.85);
        height: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

* {
  font-family: Poppins, 'Helvetica Neue', sans-serif !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $heading-default;
  font-family: Poppins, sans-serif;
  margin: 0.5rem 0;
  display: block;
}

.h1,
h1 {
  font-size: 1em * 2.25;
  font-weight: 800 !important;
}

.h2,
h2 {
  font-size: 1em * 2;
  font-weight: 700 !important;
}

.h3,
h3 {
  font-size: 1em * 1.75;
  font-weight: 700 !important;
}

.h4,
h4 {
  font-size: 1em * 1.5;
  font-weight: 600 !important;
}

.h5,
h5 {
  font-size: 1em * 1.25;
  font-weight: 600 !important;
}

.h6,
h6 {
  font-size: 1em * 1;
  font-weight: 600 !important;
}

a {
  color: $theme-primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $theme-secondary-v3;
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 600;
}

div[role='img'],
img,
iframe {
  transition: 0.5s;
  animation: fadeIn 0.5s;

  // &[aria-hidden='true'],
  // &[data-hidden='true'] {
  //   opacity: 0;
  //   pointer-events: none;
  // }
}

a,
button,
input,
textarea {
  transition: 0.3s;
  font-weight: normal;
  font-family: Poppins, sans-serif;
  animation-fill-mode: backwards !important;
  border-radius: $br * 0.9;
  max-width: 100%;
  min-height: 2rem;

  &,
  &:focus {
    outline: none;
  }
}

[class*='btn'],
[class*='button'] {
  border: 0.075em solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 2.75rem;
  padding: 0 1.25rem;
  border-radius: $br * 0.9;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  // @extend .text-overflow-ellipsis;

  &.active {
    &:hover,
    &:focus {
      opacity: 1 !important;
    }
  }

  &.cta-btn {
    // min-height: 3.25rem;
    // min-width: 16rem;
    // padding-right: 2.5rem ;
    // padding-left: 2.5rem ;
    // background-color: $theme-primary ;
    // color: white ;

    &:hover,
    &:focus {
      transform: translateY(-0.125rem) scale(1.0125);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.9;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    box-shadow: none !important;
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.btn--contained {
  color: white;

  &.primary {
    background-color: $theme-primary;

    &:hover,
    &:focus {
      border-color: $theme-primary;
      color: $theme-primary;
    }
  }

  &.secondary {
    background-color: $theme-secondary;

    &:hover,
    &:focus {
      border-color: $theme-secondary;
      color: $theme-secondary;
    }
  }

  &.tertiary {
    background-color: $theme-tertiary;

    &:hover,
    &:focus {
      border-color: $theme-tertiary;
      color: $theme-tertiary;
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.btn--outlined {
  background-color: transparent;

  &.primary {
    color: $theme-primary;
    border-color: $theme-primary;

    &:hover,
    &:focus {
      background-color: $theme-primary;
    }
  }

  &.secondary {
    color: $theme-secondary;
    border-color: $theme-secondary;

    &:hover,
    &:focus {
      background-color: $theme-secondary;
    }
  }

  &.tertiary {
    color: $theme-tertiary;
    border-color: $theme-tertiary;

    &:hover,
    &:focus {
      background-color: $theme-tertiary;
    }
  }

  &:hover,
  &:focus {
    color: white;
  }
}

.btn--text {
  background-color: transparent;
  border-color: transparent;

  &.primary {
    color: $theme-primary;
  }

  &.secondary {
    color: $theme-secondary;
  }

  &.tertiary {
    color: $theme-tertiary;
  }

  &.lightblue {
    background-color: rgb(232, 241, 255);
    color: $theme-primary;

    &:hover,
    &:focus {
      background-color: rgb(202, 211, 225);
    }
  }
}

.icon-button {
  $size: 2.25rem;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  box-shadow: unset !important;
  border-radius: 50%;
  padding: 0;
  font-size: 1.125em;
  display: inline-flex;
  @extend .btn--text;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 576px) {
    min-height: 2.5rem;
    min-width: 2.5rem;
  }
}

input[type='text'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[aria-hidden='true'],
[data-hidden='true'] {
  opacity: 0;
  pointer-events: none;
}

.app-splash {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 100000000;
  width: 100%;
  color: #fff;
  font-weight: 400;
  background: var(--color-primary);
  transition: 1s ease 1.75s;

  img {
    border-left-color: rgba(255, 255, 255, 0.5) !important;
  }

  .d-none {
    display: none;
  }

  .loading {
    text-align: center;
  }
}

[class*='col-'],
.container,
.container-fluid {
  padding: 0;
}
