:root {
  --color-primary: rgb(25, 113, 245);
  --color-primary-light: rgba(21, 105, 232, 0.12);
  --color-secondary: #f8a362;
  --color-secondary-light: rgba(248, 163, 98, 0.2);
  --color-text: #000;
  --color-muted: #ccc;
  --color-muted-light: #f8f8f8;
  --color-success: #2dff7d;
  --color-dark-grey: #626262;
}

html,
body {
  width: 100%;
  margin: 0;
  font-weight: 300;

  @media screen and (max-width: 767px) {
    font-size: 0.9rem;
  }
}

body {
  // @include debugger();
  background-color: white;
  font-size: 1rem !important;
  min-height: 100vh;
  // overflow: hidden;
  overflow-x: hidden !important;

  &.desktop.is-pc {
    &.custom-scroll-bar,
    .custom-scroll-bar {
      &::-webkit-scrollbar {
        width: 0.5rem !important;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $theme-primary; //rgba($sec-r - 25, $sec-g - 25, $sec-b - 25, 0.85);
        height: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

#__next {
  &,
  > main {
    @extend .anim__fadeIn;
  }

  > main > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

* {
  font-family: Poppins, 'Helvetica Neue', sans-serif !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.75em;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $heading-default;
  font-family: Poppins, sans-serif;
  margin: 0.5rem 0;
  display: block;
  line-height: 1.3em;
}

@mixin h-xs($s: 1.85) {
  @media screen and (max-width: 767px) {
    font-size: 1em * $s;
    line-height: 1.4em;
  }
}

.h1,
h1 {
  font-size: 1em * 2.25;
  font-weight: 700 !important;

  @include h-xs();
}

.h2,
h2 {
  font-size: 1em * 2;
  font-weight: 700 !important;
  @include h-xs(1.6);
}

.h3,
h3 {
  font-size: 1em * 1.75;
  font-weight: 600 !important;
  @include h-xs(1.4);
}

.h4,
h4 {
  font-size: 1em * 1.5;
  font-weight: 600 !important;
  @include h-xs(1.25);
}

.h5,
h5 {
  font-size: 1em * 1.25;
  font-weight: 500 !important;
  @include h-xs(1.15);
}

.h6,
h6 {
  font-size: 1em * 1;
  font-weight: 500 !important;
  @include h-xs(1.1);
}

a {
  color: $theme-primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $theme-secondary-v2;
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 600;
}

div[role='img'],
img,
iframe {
  max-width: 100%;
  transition: 0.5s;
  animation: fadeIn 1.5s;

  &[aria-hidden='true'],
  &[data-hidden='true'] {
    opacity: 0;
    // pointer-events: none;
  }
}

a,
button,
input,
textarea {
  transition: 0.3s;
  font-weight: normal;
  font-family: Poppins, sans-serif;
  animation-fill-mode: backwards !important;
  border-radius: $br * 0.9;
  max-width: 100%;
  min-height: 2rem;

  &,
  &:focus {
    outline: none;
  }
}

[class*='btn'],
[class*='button'] {
  border: 0.075em solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 2.65rem;
  padding: 0 1.25rem;
  border-radius: $br * 0.9;
  font-size: 0.9em;
  box-shadow: 0.375em 0.375em 1em rgba(25, 113, 245, 0.08); // 0 0.0625em 0.125em rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  overflow: hidden;
  cursor: pointer;
  // @extend .text-overflow-ellipsis;

  &.active {
    &:hover,
    &:focus {
      opacity: 1 !important;
    }
  }

  &.cta-btn {
    // min-height: 3.25rem;
    // min-width: 16rem;
    // padding-right: 2.5rem ;
    // padding-left: 2.5rem ;
    // background-color: $theme-primary ;
    // color: white ;

    &:hover,
    &:focus {
      transform: translateY(-0.125rem) scale(1.0125);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.9;
    box-shadow: 0 0.125em 0.25em rgba(15, 103, 235, 0.25);
  }

  &:disabled {
    box-shadow: none !important;
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.btn--contained {
  color: white !important;

  &.primary {
    background-color: $theme-primary;

    &:hover,
    &:focus {
      // border-color: $theme-primary;
      color: $theme-primary !important;
    }
  }

  &.secondary {
    background-color: $theme-secondary;

    &:hover,
    &:focus {
      // border-color: $theme-secondary;
      color: $theme-secondary !important;
    }
  }

  &.tertiary {
    background-color: $theme-tertiary;

    &:hover,
    &:focus {
      // border-color: $theme-tertiary;
      color: $theme-tertiary !important;
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &-light {
    &.primary {
      color: $theme-primary !important;
      background-color: rgba($prim-r, $prim-g, $prim-b, 0.15);

      &:hover,
      &:focus {
        background-color: rgba($prim-r, $prim-g, $prim-b, 0.25);
      }
    }

    &.secondary {
      color: $theme-secondary !important;
      background-color: rgba($sec-r, $sec-g, $sec-b, 0.15);

      &:hover,
      &:focus {
        background-color: rgba($sec-r, $sec-g, $sec-b, 0.25);
      }
    }

    &.tertiary {
      color: $theme-tertiary !important;
      background-color: rgba($tert-r, $tert-g, $tert-b, 0.15);

      &:hover,
      &:focus {
        background-color: rgba($tert-r, $tert-g, $tert-b, 0.25);
      }
    }
  }
}

.btn--outlined {
  background-color: transparent;

  &.primary {
    color: $theme-primary;
    border-color: $theme-primary;

    &:hover,
    &:focus {
      background-color: $theme-primary;
    }
  }

  &.secondary {
    color: $theme-secondary;
    border-color: $theme-secondary;

    &:hover,
    &:focus {
      background-color: $theme-secondary;
    }
  }

  &.tertiary {
    color: $theme-tertiary;
    border-color: $theme-tertiary;

    &:hover,
    &:focus {
      background-color: $theme-tertiary;
    }
  }

  &:hover,
  &:focus {
    color: white;
  }
}

.btn--text {
  background-color: transparent;
  border-color: transparent;

  &.primary {
    color: $theme-primary;
  }

  &.secondary {
    color: $theme-secondary;
  }

  &.tertiary {
    color: $theme-tertiary;
  }

  &.lightblue {
    background-color: rgb(232, 241, 255);
    color: $theme-primary;

    &:hover,
    &:focus {
      background-color: rgb(202, 211, 225);
    }
  }
}

.icon-button {
  $size: 2.25rem;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  box-shadow: unset !important;
  border-radius: 50%;
  padding: 0;
  font-size: 1.125em;
  display: inline-flex;
  @extend .btn--text;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 576px) {
    min-height: 2.5rem;
    min-width: 2.5rem;
  }
}

input[type='text'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[aria-hidden='true'],
[data-hidden='true'] {
  opacity: 0;
  pointer-events: none;
}

.app-splash {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 100000000;
  width: 100%;
  color: #fff;
  font-weight: 400;
  background: var(--color-primary);
  transition: 1s ease 1.75s;

  img {
    border-left-color: rgba(255, 255, 255, 0.5) !important;
  }

  .d-none {
    display: none;
  }

  .loading {
    text-align: center;
  }
}

[class~='col'],
[class*='col-'],
.container,
.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

button.no-shadow,
a.no-shadow,
.no-shadow {
  box-shadow: unset !important;
  text-shadow: unset !important;
}

.theme-primary {
  color: $theme-primary !important;
}
.theme-primary-lighter {
  color: $theme-primary-v7 !important;
}
.theme-primary-lightest {
  color: $theme-primary-v9 !important;
}
.theme-primary-darker {
  color: $theme-primary-v3 !important;
}
.theme-primary-darkest {
  color: $theme-primary-v1 !important;
}

.theme-secondary {
  color: $theme-secondary !important;
}
.theme-secondary-lighter {
  color: $theme-secondary-v7 !important;
}
.theme-secondary-lightest {
  color: $theme-secondary-v9 !important;
}
.theme-secondary-darker {
  color: $theme-secondary-v3 !important;
}
.theme-secondary-darkest {
  color: $theme-secondary-v1 !important;
}

.theme-tertiary {
  color: $theme-tertiary !important;
}
.theme-tertiary-darker {
  color: $theme-tertiary-v3 !important;
}
.theme-tertiary-darkest {
  color: $theme-tertiary-v1 !important;
}
.theme-tertiary-lighter {
  color: $theme-tertiary-v7 !important;
}
.theme-tertiary-lightest {
  color: $theme-tertiary-v9 !important;
}

.theme-bg-primary-darkest {
  background-color: $theme-primary-v1;
}

.theme-bg-primary-darker {
  background-color: $theme-primary-v3;
}

.theme-bg-primary {
  background-color: $theme-primary;
}

.theme-bg-primary-lighter {
  background-color: $theme-primary-v7;
}

.theme-bg-primary-lightest {
  background-color: $theme-primary-v9;
}

.theme-bg-secondary {
  background-color: $theme-secondary;
}

.theme-bg-tertiary-darkest {
  background-color: $theme-tertiary-v1;
}

.theme-bg-tertiary-darker {
  background-color: $theme-tertiary-v3;
}

.theme-bg-tertiary {
  background-color: $theme-tertiary;
}

.theme-bg-tertiary-lighter {
  background-color: $theme-tertiary-v7;
}

.theme-bg-tertiary-lightest {
  background-color: #eee;
}
