$time-func: 0.75s cubic-bezier(0.5, 0, 0.25, 1.5);

@mixin trans__(
  $mode: 'fadeIn' or 'In' or 'Out' or 'scale' or 'scaleX' or 'scaleY',
  $direction: 'Right' or 'Left' or 'Up' or 'Down' or null,
  $magnitude: 'Small' or 'Big' or null
) {
  $isIn: $mode == 'fadeIn' or $mode == 'In';
  $isFade: $mode == 'fadeIn';
  $isScale: $mode == 'scale' or $mode == 'scaleX' or $mode == 'scaleY';
  // $isScaleX: $mode == 'scale';
  // $isScaleY: $mode == 'scale';
  $dir: $direction;
  $isX: $dir == 'Right' or $direction == 'Left';
  $isBig: $magnitude == 'Big';

  .trans__#{$mode}#{if($dir, $dir, '')}#{if($isBig, $magnitude, '')} {
    @if $isFade or $isScale {
      opacity: 0;
    }

    @if $dir {
      @if $isX {
        $isLeft: $dir == 'Left';

        transform: translateX(if($isBig, if($isLeft, 100vw, -100vw), if($isLeft, 3em, -3em)));
      } @else {
        $isUp: $dir == 'Up';

        transform: translateY(if($isBig, if($isUp, 100vh, -100vh), if($isUp, 3em, -3em)));
      }
    } @else if $isScale {
      @if $mode == 'scale' {
        transform: translate(0) scale(0);
      } @else if $mode == 'scaleY' {
        transform: translate(0) scaleY(0);
      } @else if $mode == 'scaleX' {
        transform: translate(0) scaleX(0);
      }
    } @else {
    }

    transition: $time-func;
  }
}

@include trans__('fadeIn', null, null);
@include trans__('fadeIn', 'Up', null);
@include trans__('fadeIn', 'Down', null);
@include trans__('fadeIn', 'Left', null);
@include trans__('fadeIn', 'Right', null);
@include trans__('fadeIn', 'Up', 'Big');
@include trans__('fadeIn', 'Down', 'Big');
@include trans__('fadeIn', 'Left', 'Big');
@include trans__('fadeIn', 'Right', 'Big');
@include trans__('In', null, null);
@include trans__('In', 'Up', null);
@include trans__('In', 'Down', null);
@include trans__('In', 'Left', null);
@include trans__('In', 'Right', null);
@include trans__('In', 'Up', 'Big');
@include trans__('In', 'Down', 'Big');
@include trans__('In', 'Left', 'Big');
@include trans__('In', 'Right', 'Big');
@include trans__('Out', null, null);
@include trans__('Out', 'Up', null);
@include trans__('Out', 'Down', null);
@include trans__('Out', 'Left', null);
@include trans__('Out', 'Right', null);
@include trans__('Out', 'Up', 'Big');
@include trans__('Out', 'Down', 'Big');
@include trans__('Out', 'Left', 'Big');
@include trans__('Out', 'Right', 'Big');
@include trans__('scale', null, null);
@include trans__('scaleY', null, null);
@include trans__('scaleX', null, null);

[data-animate_targets='true'] {
  > [class*='trans__'] {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

// @media screen and (max-width: 767px) {
//   [class*='trans__'] {
//     transform: translate(0, 0) scale(1);
//     opacity: 1;
//   }
// }
