.footerContainer {
  background: rgb(158, 172, 229, 0.12) !important;
  // padding: 2rem 2.5rem;
  border-radius: 1.5rem;
  padding-left: 1.25em;
  padding-right: 1.25em;

  img {
    width: 100%;
    object-fit: cover;

    @media (max-width: 700px) {
      margin-left: -1rem;
    }
  }
}
