.doctorsGrid {
  border-radius: 2em;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr;
}

.doctorGridItem {
  border-radius: 1.25em;
  padding: 1.25em;
  color: $heading-default;

  span {
    color: $content-default !important;
  }
}

.box1 {
  background: #edfcf1;
}

.box2 {
  background: #f8f5ff;
}

.box3 {
  background: #e3f6fd;
}

.box4 {
  background: #fff8f0;
}

.moreDoctorsLink {
  &:hover,
  &:focus {
    path {
      stroke: $theme-secondary-v3;
    }
  }

  i {
    font-size: 0.75em;
  }

  path {
    stroke: $theme-primary;
    transition: 0.3s;
  }
}

.doctorRole {
  background: #fff;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-size: 0.9em;
}

@media screen and (min-width: 768px) {
  .doctorsGrid {
    padding: 1em;
    border: 0.25em solid #f5f9ff;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      '.            box3'
      'headingText  box3'
      'headingText  box3'
      'box1         box3'
      'box1         box3'
      'box1         box4'
      'box2         box4'
      'box2         box4'
      'box2         box4'
      'box2         link';
  }

  .headingText {
    grid-area: headingText;
  }

  .box1 {
    grid-area: box1;
  }

  .box2 {
    grid-area: box2;
  }

  .box3 {
    grid-area: box3;
  }

  .box4 {
    grid-area: box4;
  }

  .moreDoctorsLink {
    grid-area: link;
  }
}

@media screen and (min-width: 992px) {
  .doctorsGrid {
    grid-gap: 2.5em;
    border-radius: 2.5em;
    padding: 2.5em;
  }

  .doctorGridItem {
    border-radius: 1.375em;
    padding: 2.5em;
  }
}
