.ourTeamLayout {
  position: relative;

  &::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: #f8f5ff;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    transition: 0.3s;
  }

  svg.rect {
    z-index: -1;
    position: absolute;
  }

  svg.rect.positionBottom {
    bottom: -40px;
    width: 100%;
    left: 0;

    @media (max-width: 425px) {
      bottom: -30px;
    }
  }

  svg.positionRight.outerRect {
    top: 30rem;
    right: 0;
  }

  svg.positionRight.innerRect {
    z-index: 10;
    top: 30rem;
    right: -10px;
  }

  svg.positionLeft.outerRect {
    bottom: 40px;
    left: 0;
  }

  svg.positionLeft.innerRect {
    z-index: 10;
    bottom: 40px;
    left: -10px;
  }
}

.ourTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 2rem;
  padding: 2.5rem 2rem;
  min-width: 20rem;
  position: relative;
  box-shadow: 4px 4px 0px rgb(13 35 68 / 8%);

  a {
    z-index: 10;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 25px;
    opacity: 0;
    background: rgba(25, 113, 245, 0.1);
    border-radius: 6px;
    padding: 0.4rem 0.7rem 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }

  a {
    visibility: hidden;
  }

  &:hover a {
    visibility: visible;
    opacity: 1;
  }

  img {
    height: 100px;
    width: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
  }

  @media (max-width: 1024px) {
    min-width: 15rem;
  }

  @media (max-width: 500px) {
    box-shadow: 2.00399px 2.00399px 0px rgba(13, 35, 68, 0.08);
    padding: 1rem 0.2rem;
    min-width: 7.5rem;
    h3 {
      font-size: 1rem;
    }
    span {
      font-size: 0.5rem;
    }
    & img {
      height: 50px;
      width: 50px;
    }
  }
}

.ourTeamContent {
  text-align: center;
}
.teamMembersContent {
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    height: 100px;
    width: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    filter: drop-shadow(2px 2px 0px rgba(13, 35, 68, 0.08));
  }
}
