.mainSection > section {
  margin-top: 4rem;
  padding: 2rem 1.5rem 0;
  width: 100%;
  @media (max-width: 700px) {
    padding: 1rem 1rem 0;
    margin-top: 1rem;
  }
}
.mainSection {
  .missionPoster {
    position: relative;
    margin-left: 5rem;
    padding-left: 4rem;
    padding-right: 3rem;
    svg {
      bottom: -30px;
      right: 10px;
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: 10px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    @media (max-width: 1024px) {
      margin-left: 2.5rem;
      padding-left: 2rem;
      padding-right: 1.5rem;
    }
    @media (max-width: 768px) {
      margin-left: 0px !important;
      padding: 0;
    }
  }

  .poster {
    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      border-radius: 1.5rem;
      height: 100%;
      vertical-align: middle;
    }
  }

  .visionPoster {
    position: relative;
    margin-right: 5rem;
    padding-left: 3rem;
    padding-right: 4rem;
    svg {
      top: -30px;
      left: 10px;
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: 10px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    @media (max-width: 1024px) {
      margin-right: 1.5rem;
      padding-left: 0.5rem;
      padding-right: 5rem;
    }
    @media (max-width: 768px) {
      margin-right: 0px !important;
      padding: 0;
    }
  }
  @media (max-width: 425px) {
    .visionPoster,
    .missionPoster {
      padding: 0px !important;
      img {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
      svg {
        width: 100%;
        right: 0;
        bottom: -70px;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        z-index: 10;
      }
      svg.topLayer {
        bottom: -10px;
        @media (max-width: 320px) {
          bottom: -20px !important;
        }
        @media (max-width: 375px) {
          bottom: -15px;
        }
      }
      svg.visionSvg {
        left: 0px;
        top: unset;
      }
      svg.visionSvg.topLayer {
        bottom: -65px;
        @media (max-width: 320px) {
          bottom: -50px !important;
        }
        @media (max-width: 375px) {
          bottom: -55px;
        }
      }
    }
  }
}
.hasLayout {
  @media (max-width: 700px) {
    margin-bottom: 5rem;
  }
}
