.headerSection {
  padding: 3rem 0;
  width: 100%;
  background: #f5f9ff;

  @media (max-width: 768px) {
    // padding: 1rem;
    width: 93% !important;
    margin: 0.5rem 1rem;
    border-radius: 1.5rem;
  }
}
