// This is the Main 'main/body' section of the 'main' section.

.servicesWrapper {
  background-color: #f5f9ff;
  padding: 1em 1.25em 3em 1.25em;
  margin: 4em -1.25em;
  width: calc(100% + 2.5em);

  p {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.servicesCarouselButtonsContainer {
  position: relative;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
  // background-color: red;

  @media screen and (min-width: 992px) {
    position: absolute;
    left: -9em;
    top: 7em;
    transform: rotateZ(90deg);
  }

  button {
    margin: 0 0.25em;
    background-color: white;
    box-shadow: $button-box-shadow !important;

    &:hover,
    &:focus {
      box-shadow: $button-box-shadow-hover !important;
    }

    @media screen and (min-width: 992px) {
      order: 1;
    }
  }

  i {
    font-size: 0.75em;
  }
}

$size: 0.5em;

.serviceCard {
  box-shadow: none;
  border-radius: $br;
  padding: 1.35em;
  position: relative;
  max-width: 24em;

  &::before {
    @include before-or-after($bg: transparent, $o: 0.85);
    backdrop-filter: blur(0.5em);
  }

  > *:first-child {
    display: flex;
    align-items: center;

    i {
      margin-right: 1em;
    }
  }

  h3 {
    display: inline-block;
  }

  p {
    display: none;
  }
}

.serviceCardActive {
  box-shadow: 0.375em 0.75em 1.875em rgba(230, 233, 239, 0.85);

  &::before {
    background-color: white;
  }

  p {
    display: block;
  }
}

.covidConcernsCard {
  border-radius: $br;
  padding: $br * 1.25;
  background-color: $bg-lightblue;

  h5 {
    color: $theme-primary-v4;
  }
}

@media screen and (min-width: 768px) {
  .servicesWrapper {
    padding: 2rem 0 3rem 0;
    margin: 7rem 0;
  }
}
