@import '../../constants';

.hero {
  background-color: rgba(25, 113, 245, 0.05);
  border-radius: 1.5em;
  padding: 2.5em 1.25em;
  overflow: hidden;
  min-height: 40rem; // fallback for browsers that may not support 'clamp'
  min-height: clamp(30rem, 80vh, 40rem);
  position: relative;

  h1 {
    overflow: hidden;

    > span {
      display: inline-block;
      overflow: hidden;
    }
  }

  a {
    background-color: white;
  }

  svg {
    display: none;
  }
}

.after {
  @include before-or-after($bg: transparent);
  overflow: hidden;
}

.blurredEllipse {
  $size: 45em;

  position: absolute;
  border-radius: 50%;
  background: rgba(25, 113, 245, 0.25);
  filter: blur(15em);
  // width: 28em;
  // height: 28em;
  width: $size;
  height: $size;
  right: 60%;
  top: 60%;
  background: rgba(25, 34, 245, 0.25);
  // filter: blur(454px);

  &:nth-child(2) {
    left: 60%;
    bottom: 60%;
    top: unset;
  }
}

.heroImage {
  margin-top: 1rem;
  width: 19rem;
}

.mediaGrid {
  border: 0.0625rem solid #e6e9ef;
  box-shadow: 0 0.125rem 0.25rem rgba(17, 17, 17, 0.04);
  border-radius: 0.25rem;
  min-height: 3rem;

  > * {
    &:first-child {
      box-shadow: none;
    }

    box-shadow: inset 0.0625em 0 0 #e6e9ef;
    display: flex;
    align-items: center;
    overflow: hidden;
    // padding-right: 0.9em;
    // padding-left: 0.9em;
    justify-content: center;
  }

  img {
    width: 15em;
  }
}

@media screen and (min-width: 576px) {
  .hero {
    border-radius: 2.5em;
  }

  .mediaGrid {
    border-radius: 0.75em;
    min-height: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .heroImage {
    margin: 2em 0;
    width: 26rem;
  }

  .mediaGrid {
    min-height: 8rem;
  }
}
