@import '../../../constants';

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
  margin-bottom: 1em;
}

.galleryGridItem {
  display: flex;
  min-height: 12em;
  position: relative;
  overflow: hidden;
  border-radius: $br;
  border: 0.0625em solid $theme-tertiary-v9;

  &:hover,
  &:focus {
    img {
      transform: scale(1.125);
    }

    p {
      opacity: 1;

      span {
        transform: translateY(0);
      }
    }
  }

  img {
    object-fit: cover;
  }

  p {
    position: absolute;
    display: flex;
    align-items: flex-end;
    margin: 0;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.3s;

    span {
      transform: translateY(100%);
      background-color: white;
      display: flex;
      padding: 1em;
      font-size: 0.9em;
      transition: 0.3s;
    }
  }
}

@media screen and (min-width: 768px) {
  .galleryGrid {
    grid-template-columns: repeat(4, auto);
    gap: 1.25em;
    margin-bottom: 1.25em;
  }
}

@media screen and (min-width: 992px) {
  .galleryGridItem {
    min-height: 16em;
  }
}
