.main-content{
    .header{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #8d2222;
        box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.02);
    }
}
.nav-item{
    position: absolute;
left: 46.04%;
right: 50.69%;
top: 33.75%;
bottom: 42.5%;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */


/* CribMD Main Blue */

color: #388DE7;
}