.benefitsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;

  > * {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
.benefitsContainer {
  border: 1px solid #e6e9ef;
  border-radius: 0.5rem;

  .careCount {
    justify-content: center;

    p {
      font-size: 1em * 0.8;
      background: rgba(13, 35, 68, 0.1);
      border-radius: 0.5rem;
      padding: 0.2rem 0.6rem;
    }
  }

  > div {
    border-bottom: 1px solid #e6e9ef;
    padding: 0.5rem 1rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column !important;
    font-size: 3em * 0.3;
    justify-content: center;

    @media (max-width: 1024px) {
      min-height: 10rem;
    }

    @media (max-width: 767px) {
      min-height: 3rem;
      flex-direction: row !important;
      justify-content: start;
    }

    p {
      margin: 0;
      padding: 0;
    }

    span {
      color: $theme-primary;
    }

    &:nth-child(1) {
      min-height: 3rem;
    }

    &:nth-child(2) {
      min-height: 3rem;
    }

    .subscribeButton {
      border: 1px solid $theme-primary;
      transition: 0.5s;
      font-style: normal;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;

      i {
        font-style: inherit;
        color: $theme-primary;

        &:nth-child(1) {
          font-size: 1em * 0.6;
          letter-spacing: 0.1rem;
        }

        &:last-child {
          font-size: 1em * 1.2;
          letter-spacing: 0.1rem;
        }
      }

      &:hover {
        border: none;
        background: $theme-primary;

        i {
          color: white;
          font-style: inherit;
        }
      }
    }
  }
}

.benefitsHeader {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .benefitsGrid {
    grid-template-columns: repeat(3, 40% 30% 30%);
  }
}
